
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isSpatialAdmin() {
      return request.auth.token.role == 'spatialAdmin';
    }

    // Asset sources can only be uploaded by admins.
    match /assetSources/{project}/{assetId}/{version}/raw/{allPaths=**} {
      allow write: if isSpatialAdmin();
    }

    // Asset builds are publicly readable.
    match /assetBuilds/{project}/{assetId}/{version}/{buildHash}/{allPaths=**} {
      allow read: if true;
    }

    // Default deny all other access.
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
