.main {
  padding: 6rem;
  min-height: 100vh;
}

.description {
  font-size: 0.85rem;
  max-width: var(--max-width);
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--background-start-rgb), 1);
  border: 1px solid rgba(var(--border-rgb), 0.15);
  border-radius: var(--border-radius);
}
